<div>
    Name: <%=f.text_field(:name) %><br/>
    Address: <%=f.text_field(:address) %><br/>
    Email: <%=f.email_field(:email) %><br/>
    Phone: <%=f.telephone_field(:phone) %><br/>
    DOB: <%=f.date_field(:dob) %><br/>
    <%=submit_tag "Update"%>
</div>