<!DOCTYPE html>
<html>
<head>
  <title>AddressbookRails41</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= link_to "Logout", url_for(:controller=>"login",:action=>"logout"), :method=>:post %>

</body>
</html>
